* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.container {
  padding: 8px;
}

.message {
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 40px 0;
  text-align: center;
}
